---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}
{% assign papers = site.publications | sort: 'date' | reverse %}

<p>An asterisk (*) denotes equal contribution. Manuscripts listed below have been submitted or posted as preprints; a submission does not imply acceptance.</p>

<h2>First-author and equal-contribution papers</h2><hr />
<h3>Published and accepted</h3>
{% for post in papers %}
  {% if post.lead_author and post.category != 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h3>Preprints and manuscripts</h3>
{% for post in papers %}
  {% if post.lead_author and post.category == 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Other papers</h2><hr />
<h3>Published and accepted</h3>
{% for post in papers %}
  {% if post.lead_author != true and post.category != 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h3>Preprints and manuscripts</h3>
{% for post in papers %}
  {% if post.lead_author != true and post.category == 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
